body{
    margin: 10px;
    
}
.pattern {
    background: blueviolet;
    height: 200px;
    background-image: url("img/pattern.png");  
    position: relative;  
}

#thebool {
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 0;
    left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.light {
    color: darkcyan;
}

.sottotitolo {
    display: block;
}

.mini {
    font-size: 10px;
}

thead {
    background: darkcyan;
    color: white;
}

tfoot, .colortable {
    background: cyan;
}

h4 {
    color: gray;
}

.penultimafoto {
    color: white;
    width: 300px;
    height: 200px;;
    background-image: url("img/monitor.jpg");
}

.ultimafoto {
    color: white;
    width: 300px;
    height: 200px;;
    background-image: url("img/graph.jpg");
}