body{
    margin: 10px;
    
}
.pattern {  
    background: blueviolet;
    height: 200px;
    background-image: url("img/pattern.png");  
    position: relative;  
    margin-bottom: 30px;
}

#logo {
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#title {
    font-size: 55px;
}

.copertina {
    margin-top: 30px;
}
.light {
    color: darkcyan;
}

.sottotitolo {
    display: block;
}

.mini {
    font-size: 10px;
}

tr:hover {background-color: orange;}
</style>
</head>
<body>

tr:hover {background-color: orange;}
</style>
</head>
<body>

table {
    width: 50%;
}

/*th {
    width: 33.333%
}*/

.primariga {
    width: 50%;
}


thead {
    background: darkcyan;
    color: white;
}

tfoot, .colortable {
    background: cyan;
}

h4 {
    color: gray;
}

.penultimafoto {
    color: white;
    width: 300px;
    height: 200px;;
    background-image: url("img/monitor.jpg");
}

.ultimafoto {
    color: white;
    width: 300px;
    height: 200px;;
    background-image: url("img/graph.jpg");
}