.pattern {
    background-image: url("img/pattern.png");
    
}

.light {
    color: cyan;
}

.sottotitolo {
    display: block;
}

.mini {
    font-size: 10px;
}

thead {
    background: cornflowerblue;
    color: white;
}

tfoot, .colortable {
    background: darkcyan;
}
